<div class='container'>
  <div class="row justify-content-center">
    <div class="form-area col-lg-6 col-md-12 p-5 m-5">

      <h4>パスワード再発行</h4><br />
      <p>
        ご登録いただいていたアドレスをご入力の上、<br />
        ご送信ください
      </p>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "パスワードリセットを送信" %>
        </div>
      <% end %>
      <br />
      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>