
<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-2 text-center">
      <%= link_to 'All', shops_path, method: :get, class: "shop-nav" %>
      <%= link_to 'Hot', hot_path, method: :get, class: "shop-nav" %>
      <%= link_to 'Rank', rank_path, method: :get, class: "shop-nav" %>
    </div>

    <div class="col-12 mt-2">
      <%= render 'user/shops/index', shops: @shops %>
      <div class="col-5"><%= paginate @shops %></div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-8 col-12 mt-5">
      <% if user_signed_in? %>
        <div class="mt-2 text-center">
            <h5 class="fas fa-comments mb-3">つぶやき</h5>
            <%= render 'user/tweets/index', tweets: @tweets %>
            <div class="col-12 text-center mt-4">
              <%= link_to 'つぶやく', new_tweet_path, class: "btn btn-outline-success pl-5 pr-5" %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="col-lg-4 col-12 text-center p-5">
      <h5 class="fas fa-tags mb-3">&nbsp;tag</h5>
      <div class="tag-style">
        <% @tag_list.each do |list| %>
          <%= link_to list.tag_name, tag_shops_path(tag_id: list.id), class: "btn btn-outline-dark btn-sm" %>
        <% end %>
      </div>
    </div>

  </div>


  </div>
</div>