
<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-2 text-center">
      <%= link_to 'All', shops_path, method: :get, class: "shop-nav" %>
      <%= link_to 'Hot', hot_path, method: :get, class: "shop-nav" %>
      <%= link_to 'Rank', rank_path, method: :get, class: "shop-nav" %>
    </div>

    <div class="col-12 mt-2">
      <%= render 'user/shops/index', shops: @shops %>
      <div class="col-5"><%= paginate @shops %></div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-8 col-12">
      <% if user_signed_in? %>
        <div class="mx-auto p-5 text-center">
          <!--<div class='tweet-area'>-->
            <%= render 'user/tweets/post_tweet', tweet: Tweet.new %>
            <%= render 'user/tweets/index', tweets: @tweets %>
          <!--</div>-->
        </div>
      <% end %>
    </div>

    <div class="col-lg-4 col-12 text-center p-5">
      <h5 class="fas fa-tags ">&nbsp;tag</h5>
      <div class="tag-style">
        <% @tag_list.each do |list| %>
          <%= link_to list.tag_name, tag_shops_path(tag_id: list.id), class: "btn btn-outline-dark btn-sm" %>
        <% end %>
      </div>
    </div>

  </div>




  </div>
</div>

<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>