<div class='container'>
  <div class="row g-3 mt-5">
    <div class="form-area col-lg-6 p-5 offset-md-3">

      <div class="page-title">New Post</div>

      <div class="post-field">
        <div class='errors-area p-2'>
          <% if @shop.errors.any? %>
            <%= @shop.errors.count %>件のエラーが発生しました</br>
            <% @shop.errors.full_messages.each do |message| %>
              <li>※&nbsp;<%= message %></li>
            <% end %>
          <% end %>
        </div>
        <%= form_with model: @shop, url:'/shops', local:true do |f| %>

          <div class="field form-group">
            <%= f.label :shop_name, 'お店の名前 ※' %></br>
            <%= f.text_field :shop_name, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :shop_image, '写真 ※' %></br>
            <%= f.attachment_field :shop_image, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :introduction, '紹介文 ※' %></br>
            <%= f.text_area :introduction, rows:3, class: "form-control" %>
          </div>


          <div class="field form-group">
            <%= f.label :address, '住所 ※' %></br>
            <%= f.text_field :address, class: "form-control" %>
          </div>

          <div>以下、お分かりであれば、ご入力ください</div></br>

          <div class="field form-group">
            <%= f.label :tell, '電話番号' %></br>
            <%= f.text_field :tell, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :business_hours, '営業時間' %></br>
            <%= f.text_field :business_hours, class: "form-control" %>
          </div>


          <div class="field form-group">
            <%= f.label :holiday, '定休日' %></br>
            <%= f.text_field :holiday, class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :tag_name, 'タグ付け' %></br>
            <%= f.text_field :tag_name, placeholder: "例：カフェ コロナ対策", class: "form-control" %>
            <p>
              スペースを入力することで</br>
              複数のタグを付けることができます。
            </p>
          </div>

          <div class='mt-2 mb-2'>
            ※ 必須項目
          </div>

          <div class='text-center'>
            <%= button_tag :method => :get, :class => "btn", onfocus: "this.blur();" do %>
              <span class= "col btnripple">
                <i class="fas fa-paper-plane">&nbsp;投稿する</i>
              </span>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>
