<div class='container'>
  <div class='shop-main-visual'></div>
  <div class='row'>

    <div class='col-12 p-5'>
      
      <div class="post-field">
        
      <%= form_with model: @shop, url:'/shops', local:true do |f| %>
        <h6>店名</h6>
        <%= f.text_field :shop_name %>
        <h6>画像</h6>
        <%= f.attachment_field :shop_image %>
        <h6>お店紹介</h6>
        <%= f.text_area :introduction %>
        <h6>住所</h6>
        <%= f.text_field :address %>
        <h6>電話番号</h6>
        <%= f.text_field :tell %>
        <h6>定休日</h6>
        <%= f.text_field :holiday %>
        <h6>スペースを入力することで複数のタグを付けることができます。</h6>
        <h6>例：居酒屋 コロナ対策</h6>
        <%= f.text_field :tag_name %>
        
        <div id="rate-form">
          <label>Rating</label>
        </div>
      
        <%= f.submit '投稿' %>
      <% end %>
      
      </div>
      
    </div>
  
  </div>
</div>

<script>
  $('#rate-form').raty({
    path: '/assets/',
    scoreName: 'review[rate]'
  });
  
</script>