<div class='container'>
  <div class='row'>
    
    <div class='col-12 m-5'>
      
      <div class="post-field">
        
      <%= form_with model: @shop, url:'/shops', local:true do |f| %>
        <h6>店名</h6>
        <%= f.text_field :shop_name %>
        <h4>画像</h4>
        <%= f.attachment_field :shop_image %>
        <h4>お店紹介</h4>
        <%= f.text_area :introduction %>
        <h4>住所</h4>
        <%= f.text_field :address %>
        <h4>電話番号</h4>
        <%= f.text_field :tell %>
        <h4>定休日</h4>
        <%= f.text_field :holiday %>
        <h4>スペースを入力することで複数のタグを付けることができます。</h4>
        <h5>例：音楽 文芸 スポーツ</h5>
        <%= f.text_field :tag_name %>
        
        <div id="rate-form">
          <label>Rating</label>
        </div>
      
        <%= f.submit '投稿' %>
      <% end %>
      
      </div>
      
    </div>
  
  </div>
</div>

<script>
  $('#rate-form').raty({
    path: '/assets/',
    scoreName: 'review[rate]'
  });
  
</script>