<div class='container'>

  <div cladd="col-12">
    <!--地図の表示-->
    <%= render 'user/shops/map', shop: @shop %>
    <div class="shop-title">
      <%= @shop.shop_name %>
      <!--bookmarkボタン-->
      <%= render 'user/bookmarks/bookmark_button', shop: @shop %>
    </div>
  </div>


  <div class="row pl-5 pr-5 pt-2">
    <div class="col-lg-6 col-12">
      <%= attachment_image_tag @shop, :shop_image, :fill, 500, 500, format: 'jpeg' %>
    </div>

    <div class="col-lg-5 col-12 ml-3">
      <div class="row">
        <div class="col-lg-9 col-12">
          <!--星評価-->
          <h3 class="fas fa-star">&nbsp;
            <% if @shop.reviews.average(:rate) == nil %>
            評価なし
            <% else %>
            <%= @shop.reviews.average(:rate).round(1) %>
            <% end %>
          </h3></br>
          <%= @shop.introduction %>
        </div>
        <div class="col-lg-3 col-12">
          <p><%= link_to @user.name, user_path(@user.id) %>さん</p>
          <%= attachment_image_tag @user, :profile_image, size: '30x30', fallback: 'no_image.jpg' %>
        </div>
      </div>

      <div class='pt-3'>
        <table>
          <tr>
            <th>住所</th>
            <td><%= @shop.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @shop.tell %></td>
          </tr>
          <tr>
            <th>定休日</th>
            <td><%= @shop.holiday %></td>
          </tr>
        </table>
      </div>

      <!--review-->
      <h5 class='pt-5'>Review(<%= @shop.reviews.count %>)</h5>
      <% @shop.reviews.each do |review| %>
        <table class="table table-sm">
          <tbody>
            <td style="width: 15%" class="text-cente" ><%= review.created_at.strftime('%m/%d') %></td>
            <td style="width: 60%"><%= review.review_text %></td>
            <td style="width: 15%"><i class="fas fa-star"></i><%= review.rate %></div><td>
            <td style="width: 5%">
              <%= attachment_image_tag @user, :profile_image, size: '20x20', fallback: 'no_image.jpg' %>
            </td>
            <td style="width: 5%">
              <% if review.user == current_user %>
                <%= link_to  shop_review_path(review.shop, review), method: :delete do %>
                  <i class="fas fa-times-circle"></i>
                <% end %>
              <% end %>
            <td>
          </tbody>
        </table>
      <% end %>
      <%= link_to '>>もっとみる', shop_reviews_path(@shop.id) %>
      <div id='review_form'>
        <%= render 'user/reviews/form', shop: @shop, review: @review %>
      </div>

    </div>
    <div class="author-edit">
    <% if current_user.id == @shop.user_id.to_i %>
      <%= link_to '編集', edit_shop_path(@shop.id) %>
      <%= link_to '削除', shop_path(@shop.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
    <% end %>
  </div>

</div>

