<div class='container blur'>
  <div class="col-12 mt-3">
    <!--地図の表示-->
    <%= render 'user/shops/map', shop: @shop %>
    <div class="shop-title">
      <%= @shop.shop_name %>
    </div>
  </div>

  <div class="row  pt-5">
    <div class="col-lg-5 col-md-12">
      <div class="card">
        <%= attachment_image_tag @shop, :shop_image, size: '400x400', format: 'jpeg', class: 'shop-img rounded card-img' %>
        <div class="card-img-overlay text-right">
          <h1 id='bookmark_btn'>
            <%= render 'user/bookmarks/bookmark_button', shop: @shop %>
          </h1>
        </div>
      </div>
      <% @shop.tags.each do |tag| %>
        <%= link_to tag.tag_name, tag_shops_path(tag_id: tag.id), class: "btn btn-outline-success btn-sm mt-3" %>
      <% end %>

    </div>

    <div class="col-lg-7 col-md-12">
      <div class="row">
        <div class="col-6">
          <!--星評価-->
          <h5 class="far fa-star mt-3">&nbsp;
            <% if @shop.rate_average == nil %>
            評価なし
            <% else %>
            <%= @shop.rate_average.round(1) %>
            <% end %>
          </h5></br>
        </div>
        <div class="col-6 mt-3 text-center">
          <%= link_to user_path(@user.id), data: {"turbolinks" => false} do %>
            <%= attachment_image_tag @user, :profile_image, size: '60x60', fallback: 'no_image.jpg', class: "rounded-circle" %>
            </br>
            <%= @user.name %>
          <% end %>
        </div>
        <div class="col-lg-8 col-12">
          <div class="border border-secondary p-3 mt-3">
            <%= @shop.introduction %>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <table class='table'>
          <tr>
            <th style="width: 35%">住所</th>
            <td style="width: 65%"><%= @shop.address %></td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td><%= @shop.tell %></td>
          </tr>
          <tr>
            <th>営業時間</th>
            <td><%= @shop.business_hours %></td>
          </tr>
          <tr>
            <th>定休日</th>
            <td><%= @shop.holiday %></td>
          </tr>
        </table>
      </div>

      <!--review-->
      <% if user_signed_in? %>
        <% if current_user.id != @shop.user_id.to_i %>
          <div class="col-12 text-center mb-5">
            <%= link_to shop_reviews_path(@shop.id) do %>
              <i class="fas fa-paper-plane btn btn-outline-success">&nbsp;レビューする</i>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div class="author-edit">
        <% if user_signed_in? %>
          <% if current_user.id == @shop.user_id.to_i %>
            <%= link_to '編集', edit_shop_path(@shop.id), class: "btn btn-sm btn-outline-secondary" %>
            <%= link_to '削除', shop_path(@shop.id), method: :delete, remote: true, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-outline-secondary" %>
          <% end %>
        <% end %>
      </div>
      <h5 class='text-center'>---Reviews---</h5>

      <% if @shop.reviews.count == 0 %>
        <div class='m-5 text-center'>まだレビューはありません</div>
      <% else %>
        全 <%= @shop.reviews.count %> 件
      <% end %>
      <% @shop.reviews.includes(:user).limit(3).each do |review| %>
        <table class="table table-sm col-12">
          <tbody>
            <td style="width: 15%" class="text-cente" ><%= review.created_at.strftime('%m/%d') %></td>
            <td style="width: 60%"><%= review.review_text %></td>
            <td style="width: 15%"><i class="far fa-star"></i>&nbsp;<%= review.rate %></div><td>
            <td style="width: 5%">
              <%= link_to user_path(review.user), data: {"turbolinks" => false} do %>
                <%= attachment_image_tag review.user, :profile_image, size: '30x30', fallback: 'no_image.jpg', class: "rounded-circle" %>
              <% end %>
            </td>
            <td style="width: 5%">
              <% if current_user == review.user %>
                <%= link_to  shop_review_path(review.shop, review), method: :delete, remote: true do %>
                  <i class="fas fa-times-circle"></i>
                <% end %>
              <% end %>
            </td>
          </tbody>
        </table>
      <% end %>

      <h5 class='text-right mr-3'>
        <% if @shop.reviews.size > 3 %>
        <%= link_to '>>more', shop_reviews_path(@shop.id) %>
        <% end %>
      </h5>
    </div>
  </div>
</div>