<div class='container'>

<h2>投稿一覧</h2>
　
<% @tag_list.each do |list| %>
  <%= link_to list.tag_name, tag_shops_path(tag_id: list.id) %>
  <%= "(#{list.shops.count})" %>
<% end %>
</br>
<span>タグが</span>
<%= "#{@tag.tag_name}" %>
</span>の投稿一覧</span>
</br>
<% @shops.each do |shop| %>
<%= link_to shop.shop_name, shop %>
<% end %>
</br>
</br>
</br>

<%= link_to 'ホーム', root_path %>
</div>