<div class="container">
<%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpeg" %>
<h1><%= @user.name %></h1>
<a><%= @user.introduction %><a>

<% if current_user.id == @user.id.to_i %>
  <%= link_to '編集', edit_user_path(@user.id) %>
<% end %>


<!--フォロー・フォロワー数-->
<%= render 'user/relationships/follow_button', user: @user %>


<ul class="tab">
  <li><a href="#user">投稿者の情報</a></li>
  <li><a href="#bookmarks">bookmarks</a></li>
  <li><a href="#review">その他のレビュー</a></li>
</ul>


<div id="user" class="area">
  
  <div class="card-columns">
    <% @shops.order('updated_at DESC').each do |shop| %>
      <div class="card" style="width: 20rem;">
        <%= attachment_image_tag shop, :shop_image, :fill, 200, 200, format: 'jpeg', class: "card-img-top" %>
        <%= link_to shop.shop_name, shop_path(shop.id),class: "card-title" %>
        <div class="average-review-rating" data-score=<%= shop.reviews.average(:rate) %>></div>
      </div>
    <% end %>
  </div>
  
  <div class="tweet">
    <% if current_user.id == @user.id.to_i %>
      <!--つぶやき投稿フォーム-->
      <%= render 'user/tweets/post_tweet', tweet: @tweet %>
    <% end %>
    
    <!--つぶやき一覧-->
    <%= render 'user/tweets/index', tweets: @tweets, tweet: @tweet %>
  </div>
  
</div>


<div id="bookmarks" class="area">
  <%= render 'user/bookmarks/bookmark_list', bookmarks: @bookmarks %>
</div>


<div id="review" class="area">
  review一覧
</div>






</div>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>