<div class="container">
  <div class="row">
    <div class="col-md-4 m-5">
      <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpeg", class: 'rounded-circle' %>
      <h1><%= @user.name %></h1>
      <a><%= @user.introduction %><a>
      <% if current_user.id == @user.id.to_i %>
        <%= link_to '編集', edit_user_path(@user.id), class: "btn btn-outline-dark btn-sm" %>
      <% end %>
      <!--フォローボタン-->
      <%= render 'user/relationships/follow_button', user: @user %>
    </div>
    <div class="col-md-6 mt-5">
      <!--フォロー・フォロワー数-->
      <div class="follow-link">
        <table>
          <tr>
            <th>follow</th>
            <th>follower</th>
          </tr>
          <tr>
            <td class="text-center"><%= link_to @user.following.count, followings_user_path(@user) %></td>
            <td class="text-center"><%= link_to @user.followers.count, followers_user_path(@user) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 p-0">
      <ul class="tab">
        <li><%= link_to 'user', "#user"%></li>
        <li><a href="#bookmarks">bookmarks</a></li>
        <li><a href="#review">reviews</a></li>
      </ul>
    </div>
  </div>

  <div id="user" class="area">
    
    <div class="row pl-3">
      <div class="tweet col-md-3">
          <% if current_user.id == @user.id.to_i %>
            <!--つぶやき投稿フォーム-->
            <%= render 'user/tweets/post_tweet', tweet: @tweet %>
          <% end %>
            <!--つぶやき一覧-->
            <%= render 'user/tweets/index', tweets: @tweets, tweet: @tweet %>
      </div>

      <div class="col-md-9">
        <div class="row">
        <% @shops.each do |shop| %>
        <div class="col-lg-6 col-md-12">
          <div class="card" style="width: 24rem;">

            <div class="card-header p-0">
              <div class="zoomInText">
                <%= link_to shop_path(shop.id) do %>
                 <span class="mask">
                    <%= attachment_image_tag shop, :shop_image, size: '200x200', format: 'jpeg', class: "card-img" %>
                    <span class="cap">
                    <h4 class="shop-name"><%= shop.shop_name %></h4></br>
                    <h6 class="fas fa-star">&nbsp;
                      <% if shop.rate_average == nil %>
                        評価なし
                      <% else %>
                        <%= shop.rate_average.round(1) %>
                      <% end %>
                    </h6></br>
                    <h6 class="fas fa-comment-dots">&emsp;<%= shop.reviews.size %></h6>
                    </span>
                  </span>
                <% end %>
              </div>
            </div>

          </div>
        </div>
        <% end %></br>
        <%= paginate @shops %>
      </div>
    </div>
    
  </div>

    <div id="bookmarks" class="area">
      <div class="row pl-3">
        <%= render 'user/bookmarks/bookmark_list', bookmarks: @bookmarks %>
      </div>
    </div>

    <div id="review" class="area">
      <div class="row pl-3">
        review一覧
      </div>
    </div>
  </div>
</div>

    </div>
  </div>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>





