<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpeg" %>
      <h1><%= @user.name %></h1>
      <a><%= @user.introduction %><a>
    </div>
    <div class="col-md-6">
      <!--フォロー・フォロワー数-->
      <%= render 'user/relationships/follow_button', user: @user %>
    </div>
  </div>

  <% if current_user.id == @user.id.to_i %>
    <%= link_to '編集', edit_user_path(@user.id) %>
  <% end %>


  <div class="row">
    <div class="col-12">
      <ul class="tab">
        <li><%= link_to 'user', "#user"%></li>
        <li><a href="#bookmarks">bookmarks</a></li>
        <li><a href="#review">reviews</a></li>
      </ul>
    </div>
  </div>
  

  
  <div id="user" class="area">
    <div class="row"> 
      <div class="tweet col-md-3">
          <% if current_user.id == @user.id.to_i %>
            <!--つぶやき投稿フォーム-->
            <%= render 'user/tweets/post_tweet', tweet: @tweet %>
          <% end %>
          <!--つぶやき一覧-->
          <%= render 'user/tweets/index', tweets: @tweets, tweet: @tweet %>
      </div>
      
      <div class="col-md-9">
        <%= render 'user/shops/index', shops: @shops %>
      </div>
    </div>
    
  </div>

    <div id="bookmarks" class="area">
      <%= render 'user/bookmarks/bookmark_list', bookmarks: @bookmarks %>
    </div>

    <div id="review" class="area">
      review一覧
    </div>
  </div>

</div>


<script>
  $('.average-review-rating').raty({
    readOnly: true,
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score')
    }
  });
</script>





