<div class="container">
  <div class="row mt-5 mb-3">
    <div class="col-md-3 text-center">
      <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpeg", class: 'rounded-circle' %>
      <h1><%= @user.name %></h1>
      <%= render 'user/relationships/follow_button', user: @user %>
      <% if current_user.id == @user.id.to_i %>
        <%= link_to '編集', edit_user_path(@user.id), class: "btn btn-outline-dark btn-sm pl-5 pr-5" %>
      <% end %>
    </div>
    <div class="col-md-9 mt-3 col-12">
      <div class="follow-link">
        <table>
          <tr class="test-center">
            <th class="text-center" style='width: 150px;'><%= link_to followings_user_path(@user) do %>follow<% end %></th>
            <th class="text-center" style='width: 150px;'><%= link_to followers_user_path(@user) do %>follower<% end %></th>
          </tr>
          <tr>
            <td class="text-center"><%= link_to @user.following.count, followings_user_path(@user) %></td>
            <td class="text-center"><%= link_to @user.followers.count, followers_user_path(@user) %></td>
          </tr>
        </table>
      </div>
    <% if @user.introduction != nil %>
      <div class="col-md-9">
        <div class="introduction-area border border-secondary mt-4 p-3" style="height: 140px;">
          <%= @user.introduction %>
        </div>
      </div>
    <% end %>
    </div>


  </div>

<!------------main------------>

  <ul class="nav nav-tabs tabnav mt-5">
    <li class="nav-item"><a class="nav-link active" href="#shops">投稿一覧</a></li>
    <li class="nav-item"><a class="nav-link" href="#tweets">つぶやき</a></li>
    <li class="nav-item"><a class="nav-link" href="#bookmarks">Bookmark</a></li>
    <li class="nav-item"><a class="nav-link" href="#reviews">レビュー</a></li>
  </ul>

  <div class="tabcontent">
<!------------shops------------>
    <div id="shops" role="tabpanel" aria-labelledby="shops-tab">
      <div class="row mt-5">
        <% @shops.each do |shop| %>
          <div class="col-lg-4 col-md-12">
            <div class="card cols-1 cols-md-2 cols-lg-3">
              <div class="card-header p-0">
                <div class="zoomInText">
                  <%= link_to shop_path(shop.id) do %>
                   <span class="mask">
                      <%= attachment_image_tag shop, :shop_image, size: '200x200', format: 'jpeg', class: "card-img" %>
                      <span class="cap">
                        <h4 class="shop-name"><%= shop.shop_name %></h4></br>
                        <h6 class="fas fa-star">&nbsp;
                          <% if shop.rate_average == nil %>
                            評価なし
                          <% else %>
                            <%= shop.rate_average.round(1) %>
                          <% end %>
                        </h6>
                        </br>
                        <h6 class="fas fa-comment-dots">&emsp;<%= shop.reviews.size %></h6>
                      </span>
                    </span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
<!------------tweets------------>
    <div id="tweets" role="tabpanel" aria-labelledby="tweets">
      <div class="row mt-5">
        <div class="col-12 text-center">
          <%= link_to 'つぶやく', new_tweet_path, class: "btn btn-outline-success pl-5 pr-5" %>
        </div>
        <div class="col-md-6 col-12 mt-5">
          <h4 class="col-12 text-center mb-4">my tweets</h4>
          <%= render 'user/tweets/index', tweets: @mytweets %>
        </div>
        <div class="col-md-6 col-12 mt-5">
          <h4 class="col-12 text-center mb-4">follow tweets</h4>
          <%= render 'user/tweets/index', tweets: @tweets %>
        </div>
      </div>
    </div>
<!------------bookmarks------------>
    <div id="bookmarks" role="tabpanel" aria-labelledby="bookmarks-tab">
      <div class="row m-3">
        <%= render 'user/bookmarks/bookmark_list', bookmarks: @bookmarks %>
      </div>
    </div>
<!------------review------------>
    <div id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
      <div class="row m-5">
        <div class="col-12">
          <h4>レビューした記事</h4>
          <div class="scroll-list jscroll">
            <% @reviews.each do |review| %>
              <table class="table table-sm">
                <tbody>
                  <td style="width: 15%">
                    <%= link_to shop_path(review.shop.id) do %>
                      <%= attachment_image_tag review.shop, :shop_image, size: '150x120', format: 'jpeg' %></br>
                      <%= review.shop.shop_name %>
                    <% end %>
                  </td>
                  <td style="width: 40%">
                    <%= review.review_text %></br>
                    <%= review.created_at.strftime('%y/%m/%d') %>
                  </td>
                  <td style="width: 15%"><i class="far fa-star">&nbsp;<%= review.rate %></i></td>
                  <td style="width: 10%">
                    <% if review.user == current_user %>
                      <%= link_to shop_review_path(review.shop, review), method: :delete, remote: true do %>
                        <i class="fas fa-times-circle"></i>
                      <% end %>
                    <% end %>
                  </td>
                </tbody>
              </table>
            <% end %>
            <div class="scroll-area">
              <%= paginate @reviews %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
