<div class="about-page">

  <%= render 'homes/top_link' %>
  <div class="row mt-3 blur">
    <div class="col-6 text-right">
      <%= link_to '新規会員登録', new_user_registration_path, class: 'btn btn-outline-dark btn-sm' %>
    </div>
    <div class="col-6">
      <%= link_to 'お問い合わせ', new_contacts_path, class: 'btn btn-outline-dark btn-sm' %>
    </div>
  </div>

  <div class="row mt-4 mb-5 about-main">
    <div class='col-lg-5 col-10 p-3 text-center blur about-text mx-auto'>
      <p>
        </br>
        ソロ活を始めたい</br>
        素敵なお店と出会いたい</br>
        おいしいお店を共有したい</br>
        お店の記録を残したい</br>
        </br>
      </p>
      <h5>
        そんな貴方に、</br>
        素敵なOhitorisama時間を...</br>
      </h5>
    </div>
  </div>

  <div class="row mt-2 mb-3 blur">
    <div class="col-12">
      <div class="search-form form-inline m-3">
        <%= form_with url: search_path, method: :get, class: 'mx-auto form-inline', local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword, placeholder: "店名や住所で検索！", class: "form-control form-control-sm" %>
          <!--PC-->
          <button type="submit" class="btn btn-outline-success btn-sm  d-none d-lg-block ml-2">
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
          <!--スマホ-->
          <button type="submit" class="btn btn-outline-success btn-sm d-md-block d-lg-none w-100 mt-1">
            <i class="fas fa-search" aria-hidden="true">検索</i>
          </button>
        <% end %>
      </div>
      <p class='text-center'>ログインせずに検索できます</p>
    </div>
  </div>

<div class='container'>
  <div class="row text-center mx-auto m-5">
    <div class="col-lg-7 col-12">
      <%= image_tag 'about-map', :size => '470x435', class: 'smoothTrigger border img-fluid' %>
    </div>
    <div class="col-lg-5 col-12">
      <ul class='text-left p-0 text-center'>
        <li class='description p-2 mt-3 smoothTrigger'>
          <h5>1.MAP表示</h5>
          <p>地図表示で、お店の位置がイメージしやすい</p>
        </li>
        <li class='description p-2 mt-3 smoothTrigger'>
          <h5>2.ブックマーク</h5>
          <p>
            お気に入りの投稿はブックマークを！</br>
            mypegeでいつでもご確認いただけます
          </p>
        </li>
        <li class='description p-2 mt-3 smoothTrigger'>
          <h5>3.評価</h5>
          <p>★評価で、人気のお店をチェック！</p>
        </li>
        <li class='description p-2 mt-3 smoothTrigger'>
          <h5>4.レビュー</h5>
          <p>投稿を見たら、レビューしよう！</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="row text-center mt-5 mb-5" >
    <div class="col-lg-6 col-12 mb-3">
      <h5 class='smoothTrigger'>タグ検索できる！</h5>
      <%= image_tag 'about-tag', :size => '400x300', class: 'smoothTrigger img-fluid' %>
    </div>
    <div class="col-lg-6 col-12 mb-3">
      <h5 class='smoothTrigger mb-3'>スマホでも見やすい！</h5>
      <%= image_tag 'about-phon', :size => '228x300', class: 'smoothTrigger img-fluid' %>
    </div>
  </div>

  <div class="row mb-2 mt-5 mb-5 smoothTrigger">
    <div class="col-12">
      <div class="search-form form-inline m-3">
        <%= form_with url: search_path, method: :get, class: 'mx-auto form-inline', local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword, placeholder: "店名や住所で検索！", class: "form-control form-control-sm" %>
          <!--PC-->
          <button type="submit" class="btn btn-outline-success btn-sm d-none d-lg-block ml-2">
            <i class="fas fa-search" aria-hidden="true"></i>
          </button>
          <!--スマホ-->
          <button type="submit" class="btn btn-outline-success btn-sm d-md-block d-lg-none w-100 mt-1">
            <i class="fas fa-search" aria-hidden="true">検索</i>
          </button>
        <% end %>
      </div>
      <p class='text-center mb-5 pb-5'>ログインせずに検索できます</p>
    </div>
  </div>
</div>
