<div id="splash">
  <div id="splash_logo">
    <%= image_tag 'welcome', :size => '480x153', class: 'blur img-fluid' %>
  </div>
</div>
<div id="container">
  <div class="jumbotron jumbotron-fluid p-0" style="width:100%;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="3500" style="object-fit: cover; object-position: center;">
            <%= image_tag 'top1', class: 'd-block w-100'%>
          </div>
          <div class="carousel-item" data-interval="3500">
            <%= image_tag 'top2', class: 'd-block w-100' %>
          </div>
          <div class="carousel-item" data-interval="3500">
            <%= image_tag 'top3', class: 'd-block w-100' %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 text-center mb-4">
        <%= link_to about_path do %>
          <%= image_tag 'top-logo', class: 'shadow', :size => '264x131' %>
        <% end %>
      </div>
      <% if flash[:notice] %>
        <div class='col-12 bg-secondary text-white text-center mt-2 mb-3 p-1' style='font-size: 15px;'>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <div class="sign-content col-12 text-center mt-3">
          <%= link_to 'Enter', shops_path, class: 'btn btn-outline-dark pr-5 pl-5' %>
        </div>
      <% else %>
        <div class="sign-content col-12 text-center mt-3">
          <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-dark p-4' %>
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'btn btn-outline-dark p-4' %>
          <div class='mt-2' style='font-size: 20px;'>
            ご登録がまだの方は<%= link_to 'こちら', new_user_registration_path, class: 'text-success font-weight-bold' %>から
          </div>
        </div>
      <% end %>
    </div>
  </div>