<div id="review_error" class='errors-area p-2'>
  <% if review.errors.any? %>
    <%= review.errors.count %>件のエラーが発生しました</br>
    <% review.errors.full_messages.each do |message| %>
      <li>※&nbsp;<%= message %></li>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= form_with(model:[shop, review], remote: true) do |f| %>
    <div class='mb-3'>
    <%= f.text_area :review_text, rows:'8', placeholder: "review", size: "50", class: "form-control" %>
    </div>
    <div id="rate-form"></div>
    <div id="rate-form" class=''>
      <div class='mb-3'>
        <%= button_tag :method => :get, :class => "btn", onfocus: "this.blur();" do %>
          <i class="btn btn-outline-success pr-5 pl-5">投稿する</i>
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>


<script>
  $(function() {
    let rate_form = document.getElementById('rate-form');
    if(rate_form.childNodes.length === 0){
      $('#rate-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[rate]',
        half: true,
      });
    }
  });

</script>