<div class='errors-area p-2'>
  <% if review.errors.any? %>
    <%= review.errors.count %>件のエラーが発生しました</br>
    <% review.errors.full_messages.each do |message| %>
      <li>※&nbsp;<%= message %></li>
    <% end %>
  <% end %>
</div>
<% if user_signed_in? %>

  <%= form_with(model:[shop, review], local: true) do |f| %>
      <%= f.text_area :review_text, rows:'8',placeholder: "review", size: "50" %>
        <div id="rate-form">
          <label>Rating</label>
        </div>
       <%= f.submit "送信" %>
  <% end %>

<% end %>

<script>
  $('#rate-form').raty({}).empty();
  $('#rate-form').raty({
    path: '/assets/',
    scoreName: 'review[rate]',
    half: true,
  });

</script>
