<div id="review_error" class='errors-area p-2'>
  <% if review.errors.any? %>
    <%= review.errors.count %>件のエラーが発生しました</br>
    <% review.errors.full_messages.each do |message| %>
      <li>※&nbsp;<%= message %></li>
    <% end %>
  <% end %>
</div>
<% if user_signed_in? %>

  <%= form_with(model:[shop, review], remote: true) do |f| %>
      <%= f.text_area :review_text, rows:'8',placeholder: "review", size: "50" %>
        <div id="rate-form"></div>
       <%= f.submit "送信" %>
  <% end %>

<% end %>


<script>
  $(function() {
    let rate_form = document.getElementById('rate-form');
    if(rate_form.childNodes.length === 0){
      $('#rate-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[rate]',
        half: true,
      });
    }
  });

</script>