<div class="tweets_area">
<% tweets.includes(:user).order('updated_at DESC').each do |tweet|  %>
  <table class="table table-sm rounded border border-4 rounded">
    <td style="width: 20%" class="text-center">
      <%= link_to user_path(current_user), data: {"turbolinks" => false} do %>
      <%= attachment_image_tag tweet.user, :profile_image, size: '40x40', fallback: 'no_image.jpg', class: 'rounded-circle' %></br>
      <%= tweet.user.name %>さん</br>
      <p><%= tweet.created_at.strftime("%m/%d %H:%M:%S") %></p>
      <% end %>
    <td  style="width: 75%">
      <%= tweet.tweet %>
    </td>
    <td style="width: 5%">
        <% if current_user.id == tweet.user_id.to_i %>
          <%= link_to tweet_path(tweet.id), method: :delete, "data-confirm" => "本当に消しますか？" do %>
            <i class="fas fa-times-circle"></i>
          <% end %>
        <% end %>
    </td>
  </table>
<% end %>
</div>