  <div class='errors-area p-2'>
    <% if tweet.errors.any? %>
      <%= tweet.errors.count %>件のエラーが発生しました</br>
      <% tweet.errors.full_messages.each do |message| %>
        <li>※&nbsp;<%= message %></li>
      <% end %>
    <% end %>
  </div>
  <div class='form-inline'>
    <%= form_with model: tweet, url:'/tweets', local:true do |f| %>
      <%= f.text_area :tweet, class: "form-control", class: 'form-control form-control-sm' %>
      <%= button_tag :method => :get, :class => "btn", onfocus: "this.blur();" do %>
        <i class="fas fa-paper-plane">つぶやく</i>
      <% end %>
    <% end %>
  </div>
