<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container container-fluid">
      <%= link_to "/" do %>
          <%= image_tag 'header-logo.png', :size =>'120x70', class: 'navbar-brand', alt: "トップページロゴ" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <form class="d-flex p-2 font-weight-bold">
              <%= form_with url: search_path, method: :get, local: true do |f| %>
                  <%= f.text_field :keyword, value: @keyword, placeholder: "店名や住所で検索！", class: "form-control form-control-sm" %>
              <button class="btn btn-outline-success btn-sm" type="submit"><i class="fas fa-search"></i></button>
               <% end %>
            </form>
            <li class="nav-link d-none d-lg-block">
              <%= render 'user/partial/circle' %>
            </li>
            <li class="nav-link d-none d-lg-block">
              <%= link_to 'MyPage',user_path(current_user), class: "d-none d-lg-block", data: {"turbolinks" => false} %>
            </li>
            <li class="nav-link d-none d-lg-block">
              <%= link_to 'Shops', shops_path, class: "d-none d-lg-block" %>
            </li>
            <li class="nav-link d-none d-lg-block">
              <%= link_to 'Post', new_shop_path, class: "d-none d-lg-block" %>
            </li>
            <li class="nav-link">
              <%= link_to 'Contact', new_contacts_path, class: "pc-contact-link d-none d-lg-block" %>
              <%= link_to 'Contact', new_contacts_path, class: "m-3 d-md-block d-lg-none font-weight-bold" %>
            </li>
            <li class="nav-link d-none d-lg-block">
              <%= link_to destroy_user_session_path, id: 'logout-img', method: :delete do %>
                <i class="fas fa-sign-out-alt"></i>
              <% end %>
            </li>
            <li class="nav-link ml-3 d-md-block d-lg-none font-weight-bold">
              <%= link_to destroy_user_session_path, method: :delete do %>
                logout&emsp;<i class="fas fa-sign-out-alt"></i>
              <% end %>
            </li>
          <% else %>
            <li class="nav-link w-50 mt-3 d-md-block d-lg-none mx-auto">
              <form class="d-flex font-weight-bold">
                <%= form_with url: search_path, method: :get, local: true do |f| %>
                    <%= f.text_field :keyword, value: @keyword, placeholder: "店名や住所で検索！", class: "form-control form-control-sm" %>
                <button class="btn btn-outline-success btn-sm" type="submit"><i class="fas fa-search"></i></button>
                 <% end %>
              </form>
            </li>
            <li class="nav-link d-none d-lg-block p-2">
              <%= link_to 'Ohitorisamaとは？', about_path %>
            </li>
            <li class="nav-link d-none d-lg-block">
              <%= link_to 'Shops', shops_path %>
            </li>
            <li class="nav-link d-none d-lg-block">
              <%= link_to 'Contact', new_contacts_path %>
            </li>
        　<% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>