<!DOCTYPE html>
<html>
  <head>
    <title>Ohitorisama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.raty.js"></script>
  
    <link rel="stylesheet" type="text/css" href="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
    <link rel="stylesheet" type="text/css" href="css/9-6-3.css">
    <link rel="stylesheet" type="text/css" href="css/5-2-1.css">
  </head>

  <body>

   <%= render 'layouts/header' %>

      <%= yield %>
    </div>

</body>

</html>
